
<div class="tableHead d-flex justify-content-between align-items-center">

    <div class="d-flex justify-content-left align-items-center pt-1">
        <h4 class="ml-3" href="#">
            <strong><%=view.viewModel.list.listTitle%></strong>
        </h4>
        <button class="badge badge-pill badge-dark ml-2" id="create" data-toggle="modal" data-target="#formModal">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div id="searchBar" class="mr-3">
        <form class="form-inline d-flex justify-content-left md-form form-sm">
            <i class="fas fa-search ml-2" aria-hidden="true"></i>
            <input id="searchInput" class="form-control form-control-sm ml-3 w-95" type="text" placeholder="Search (in <%=view.viewModel.list.searchColLabel%>)"
            aria-label="Search" value="<%=view.viewModel.functionality.searchState%>">
        </form>
    </div>
</div>

<table id='table' class="<%=view.viewModel.list.tableClasses%>">

    <tr class="trow">
        <% _.forEach(view.viewModel.fields, function(value, key){
           if (!value.hidden && value.list) {%>
        <th class="thead" id="<%=value.name%>"> <%=value.label%> </th>
        <%}}) %>
        <th class="thead"> Actions </th>
    </tr>

    <% view.viewModel.data.forEach((datum)=>{ %>
    <tr class="trow" data-toggle="tooltip" data-html="true" data-placement="top" title="<p><%=datum.name%><p><p><%=datum.notes%><p>">

        <% view.viewModel.fields.forEach((field)=>{ %>

            <%if(!field.hidden && field.list && !field.lookupName){%>
        <td><div class="anim a<%=datum.id%>"><%=view.getFieldValue(field, datum, false)%></div></td>
            <%}%>

            <%if(!field.hidden && field.lookupName){%>
                
                <%let id = datum[field.name]%>
                <%let name = _.find(view.storage.lookups[field.lookupName], {'id':id}).label%> 
        <td><div class="anim a<%=datum.id%>"><%=name%></div></td>    
            <%}%>

        <%})%>
        <td>
            <div class="anim a<%=datum.id%>">
            <%let editIcon = "fas fa-pen"%>
            <%let deleteIcon = "fas fa-trash"%>
            <%let infoIcon = "fas fa-info-circle"%>
            <%let popOverText = datum.notes%>

            <button type="button" id="e<%=datum.id%>" class="table-button editer" data-toggle="modal" data-target="#formModal"><i class="<%=editIcon%>"></i></button>
            <button type="button" id="<%=datum.id%>" class="table-button deleter" data-toggle="modal" data-target="#Modal"><i class="<%=deleteIcon%>"></i></button>
            <button type="button" class="popover-dismiss" data-container="body" data-toggle="popover" data-placement="top" title="<%=datum.name%>" data-content="<%=popOverText%>"><i class="<%=infoIcon%>"></i></button>
  
        </div>
        </td>
    </tr>
    <%})%>
    

</table>